@font-face {
  font-family: 'EraserRegular';
  src: url('./images/eraser/EraserRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EraserDust';
  src: url('./images/eraser/EraserDust.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: eraserdust;
  background-image: url('../images/forest.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  height: 100vh;
  width: auto;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.volume {
  grid-area: 5/17/7/19;
}
#volume-on {
  height: 7vw;
  width: 8vw;
  display: flex;
}
#volume-off {
  margin-left: 0.5vw;
  margin-top: 0.2vh;
  height: 6.2vw;
  width: 9.5vw;
  display: none;
  opacity: 1;
  pointer-events: none;
}
.startMessage {
  grid-area: 1/1/21/21;
  display: grid;
  grid-template: 1fr 70% 1fr / 1fr 70% 1fr;
  background-color: rgba(0, 0, 0, 0.815);
}
.startMessage > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: 2/2/3/3;
  text-align: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  font-family: 'EraserDust';
  font-weight: lighter;
}
.start {
  margin: 0;
  /* padding: 0; */
  font-size: 200px;
}
.msg {
  padding: 0;
  /* margin: 0; */
  font-size: 20px;
}

winner {
  grid-area: 1/1/21/21;

  display: none;
  grid-template: 1fr 70% 1fr / 1fr 70% 1fr;

  background-color: rgba(0, 0, 0, 0.815);
}
.winner {
  grid-area: 2/2/3/3;
  display: inline-block;
  text-align: center;
  margin: 0;
}
.winner > h3 {
  text-align: center;
  font-size: 200px;
  color: white;
  font-family: 'EraserDust';
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
.winner > p {
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  display: inline-flex;
  margin: 50px;
  padding: 10px 25px 10px 25px;
}

draw {
  grid-area: 1/1/21/21;

  display: none;
  grid-template: 1fr 70% 1fr / 1fr 70% 1fr;

  background-color: rgba(0, 0, 0, 0.815);
}
.draw {
  grid-area: 2/2/3/3;
  display: inline-block;
  text-align: center;
  margin: 0;
}
.draw > h3 {
  text-align: center;
  font-size: 200px;
  color: white;
  font-family: 'EraserDust';
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
.draw > p {
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  display: inline-flex;
  margin: 50px;
  padding: 10px 25px 10px 25px;
}

h1 {
  grid-area: 1/1/6/21;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0 0 0 100px;
  color: white;
  font-size: 80px;
}

.current-player {
  grid-area: 4/5/6/14;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

/* Chalkbord Background */
#chalkboard {
  background-image: url('../images/chalkboard.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-area: 7/3/20/11;
  height: 510px;
  width: 210%;
}

/* Scoreboard */
.scoreboard {
  grid-area: 8/5/13/11;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px repeat(2, 2fr);
  font-size: 50px;
}
.scoreboard > div,
h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Scoreboard Cells */
.scoreboard > h4 {
  grid-area: 1/1/2/4;

  border: 4px solid white;
  border-style: dashed;
  margin: 0;
  padding: 0;
}
.tick-score {
  grid-area: 2/1/3/2;

  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-style: dashed;
  margin: 0;
  padding: 0;
}
.tick-wins {
  grid-area: 3/1/4/2;

  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-style: dashed;
  margin: 0;
  padding: 0;
}
.toe-score {
  grid-area: 2/2/3/3;

  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-style: dashed;
  margin: 0;
  padding: 0;
}
.toe-wins {
  grid-area: 3/2/4/3;

  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-style: dashed;
  margin: 0;
  padding: 0;
}
.draws {
  grid-area: 2/3/3/4;

  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-style: dashed;
  margin: 0;
  padding: 0;
}
.draw-count {
  grid-area: 3/3/4/4;

  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-style: dashed;
  margin: 0;
  padding: 0;
}
/* Images */
.tick-sb {
  height: 50px;
  width: 50px;
}
.toe-sb {
  height: 50px;
  width: 50px;
}

/* Tick Grid */
.tick-grid {
  grid-area: 8/13/16/18;
  border: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.tick-grid > div {
  grid-area: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 10px;
}
/* Tick Grid Cells */
.tick1 {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
.tick2 {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
.tick3 {
  border-bottom: 4px solid white;
}
.tick4 {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
.tick5 {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
.tick6 {
  border-bottom: 4px solid white;
}
.tick7 {
  border-right: 4px solid white;
}
.tick8 {
  border-right: 4px solid white;
}
